:root {

    --el-bg-color: #242933;

    .el-table,
    .el-table thead {
        color: #fff;
    }

    .el-button{
        color:#333;
    }

    .el-checkbox-group span{
        color:#fff;
    }
    --el-menu-text-color:#fff;
    --el-menu-bg-color:#191970;

    --el-text-color-primary:#fff;
}